{% extends "layout.html" %}

{% block title %}
    Info
{% endblock %}

{% block body %}

    <div class="container">
        <br>
        <!-- <div class="row justify-content-center">
            <img style="float:left" src="http://covers.openlibrary.org/b/isbn/{{ isbn }}-L.jpg" />
            <h1> Title: {{ title }} </h1>
            <h3> Author: {{ author }} </h3>
            <h4> Publication year: {{ year }} </h4>
            <h5> ISBN: {{ isbn }} </h5>
        </div> -->
        <div class="card" style="width: 20rem; float:left;">
            <img class="card-img-top" src="http://covers.openlibrary.org/b/isbn/{{ isbn }}-L.jpg" alt="Card image cap">
        </div>

        <div class="card" style="width: 20rem; float:left;">
            <!-- <img class="card-img-top" src="http://covers.openlibrary.org/b/isbn/{{ isbn }}-L.jpg" alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">Title: {{ title }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Author: {{ author }}</li>
                <li class="list-group-item">Publication year: {{ year }}</li>
                <li class="list-group-item">ISBN: {{ isbn }}</li>
            </ul>
        </div>

        <div class="card" style="width: 20rem; float:left;">
            <div class="card-body">
                <h5 class="card-title"> Ratings </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ avgRating }}/5 Stars</li>
                <li class="list-group-item">{{ ratingNum }} Users Rated</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title"> From Goodreads </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ average_rating }}/5 Stars</li>
                <li class="list-group-item">{{ number_rating }} Users Rated</li>
            </ul>
        </div>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <div class="review">
            <h2> Reviews </h2>
            <div class="row">
                {% if reviews %}
                    {% for username, review in reviews.items() %}
                        <div class="card" style="width: 18rem;" class="col">
                            <div class="card-body">
                                <p class="card-text">{{ review }}</p>
                                <h6 class="card-subtitle mb-2 text-muted">- {{ username }}</h6>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <br>
            </div>

            {% if not reviews %}
                <h6>No Reviews</h6>
                <br>
            {% endif %}
        </div>

        <br> <br>
        <h2> Leave a Review </h2>
        <br>

        <form action={{ url_for( 'bookinfo', isbn=isbn, title=title, author=author, year=year ) }} method="post">
            <div class="form-group">
                <select class="custom-select" name="rating">
                      <option selected>Ratings</option>
                      <option value="1">1 (Poor)</option>
                      <option value="2">2 (Below Average)</option>
                      <option value="3">3 (Average)</option>
                      <option value="4">4 (Great)</option>
                      <option value="5">5 (Excellent)</option>
                </select>
                <textarea maxlength="500" class="form-control" name="review" id="exampleFormControlTextarea1" rows="3" placeholder="Optional Description (500 characters max)"></textarea>
            </div>
            <button type="submit" class="btn btn-primary"> Submit </button>
        </form>
    </div>
{% endblock %}
